@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: Lato;
}
body.active {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 7px;
  height: 0;
}
::-webkit-scrollbar-track {
  background: rgb(61, 64, 80);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset; /* тень внутри скроллбара */
}
::-webkit-scrollbar-thumb {
  background: rgb(62, 156, 220);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 140, 186);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1168px;
  margin: 0 auto;
}
/* ------------------------------------------------------------------ */

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding-top: 33.5px;
  padding-bottom: 31.5px;
  background: rgba(16, 16, 29, 0.9);
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
}
.header__menu {
  display: flex;
  gap: 60px;
}
.header__menu.active {
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 150px;
  background: rgba(16, 16, 29, 1);
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header__menu-link__active {
  font-size: 20px;
}
.header__menu-link {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}
.header__menu-link.active {
  color: rgb(67, 171, 240);
}
.burger {
  cursor: pointer;
  padding: 10px;
  display: none;
}
.bur {
  transition: all 0.6s ease 0s;

  position: relative;
  background: white;
  width: 40px;
  height: 2px;
  cursor: pointer;
}
.bur::after {
  transition: all 0.6s ease 0s;
  content: "";
  position: absolute;
  top: 8px;
  background: white;
  width: 40px;
  height: 2px;
}
.bur::before {
  transition: all 0.6s ease 0s;
  content: "";
  position: absolute;
  top: -8px;
  background: white;
  width: 40px;
  height: 2px;
}
.bur.active {
  background: none;
}
.bur.active::before {
  transform: rotate(45deg);
  top: 8px;
}
.bur.active::after {
  transform: rotate(-45deg);
}
/* ---------------------------------------------------------------- */

.main {
  flex-grow: 1;
}
.first {
  background: url("../images/main/first/backFirst.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 103px;
  padding-bottom: 202px;
}
.first__title {
  padding-top: 100px;
  margin-bottom: 80px;
  max-width: 780px;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.first__title span {
  color: rgb(62, 156, 220);
}
.first__subtitle {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.first__menu {
  margin-bottom: 80px;
  margin-left: 10px;
}
.first__menu-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.first__menu-text:not(:last-child) {
  margin-bottom: 5px;
}
.first__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.first__buttons-left {
  padding: 15px 0;
  max-width: 183px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background: rgb(62, 156, 220);

  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.first__buttons-right {
  padding: 15px 0;
  max-width: 183px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(111, 109, 123);
  border-radius: 4px;
  background: rgb(255, 255, 255);

  color: rgb(42, 43, 48);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------- */

.second {
  padding-top: 126px;
  padding-bottom: 150px;
  background: url("../images/main/second/secondBg.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}
.second__title {
  margin-bottom: 30px;
  color: white;
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.second__title span {
  color: rgb(62, 156, 220);
}
.second__subtitle {
  margin-bottom: 80px;
  text-align: center;
  color: rgb(187, 187, 187);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.second__posts {
  position: relative;
  display: flex;

  justify-content: space-between;
}
.second__post {
  display: flex;
  flex-direction: column;
  max-width: 209px;
  width: 100%;
  padding: 0 10.5px;
  text-align: center;
}

.second__post-img {
  max-width: 100px;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}
.second__post-text {
  flex-grow: 1;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
.second__post-points {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 829px;
  width: 100%;
}
/*-------------------------------------------------------------*/

.second__form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55.5px;
}

/* ------------------------------------------------------------ */

.form__bottom-ranges {
  max-width: 772px;
  width: 100%;
}
.bottom__ranges-texts {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ranges__text-left {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.ranges__text-right {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: right;
}

/* ---------------------------------------------------------------- */

.bottom__ranges-range {
  max-width: 772px;
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}
.bottom__ranges-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border: 3px solid rgb(40, 102, 144);
  background: rgb(66, 169, 237);
  border-radius: 30px;
}

/* -------------------------------------------------------------------- */
.form__bottom-file {
  position: relative;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  max-width: 370px;
  width: 100%;

  box-sizing: border-box;
  border: 2px solid rgb(62, 156, 220);
  border-radius: 3px;
  background: rgb(255, 255, 255);
}
.form__bottom-inputFile {
  position: absolute;
  right: 0;
  z-index: 2;
  opacity: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 370px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(62, 156, 220);
  border-radius: 3px;
  background: rgb(255, 255, 255);
}
.bottom__file-img {
  height: 20px;
  width: 17.14px;
}
.bottom__file-text {
  color: rgb(39, 39, 51);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

/* --------------------------------------------------------------- */
.second__form {
  padding-top: 80px;
}
.second__form-top {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__select-wrapper {
  position: relative;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.85);
  max-width: 370px;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}
.top__select-wrapper.active {
  border: none;
  border-radius: 0;
  border-radius: 3px 3px 0px 0px;
  color: black;
  background: #3d4050;
}
.form__top-select {
  padding: 12px 10px 12px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: rgb(39, 39, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.form__top-select.active {
  color: white;
}
.top__select-list {
  max-height: 199px;
  overflow: scroll;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.85);

  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  display: none;
}
.top__select-list::-webkit-scrollbar {
  width: 7px;
  height: 0;
}
.top__select-list::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgb(61, 64, 80);
  margin-top: 3.36px;
  margin-bottom: 3.36px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset; /* тень внутри скроллбара */
}
.top__select-list::-webkit-scrollbar-thumb {
  background: rgb(62, 156, 220);
}
.top__select-list::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 140, 186);
}

.top__select-list.active {
  display: block;
  background: rgba(255, 255, 255, 1);
}
.select__list-item {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  padding: 5px 10px;
}
.select__list-item:hover {
  color: rgb(66, 169, 237);
}
.top__select-img.active {
  transform: rotate(180deg);
}
.form__top-area {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.85);
  padding: 12px 10px 12px 10px;
  max-width: 370px;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;

  color: rgb(39, 39, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.form__top-area::placeholder {
  color: rgb(39, 39, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* -------------------------------------------------------------- */

.second__form-btn {
  max-width: 370px;
  width: 100%;
  padding: 15px 0;
  text-align: center;

  display: block;
  margin: 0 auto;

  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background: rgb(62, 156, 220);

  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/* ----------------------------------------------------------- */
.footer {
  padding: 30px 0;
  background: rgb(61, 64, 80);
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__lic {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__cash {
  position: relative;
  display: flex;
  align-items: center;
  gap: 38px;
}
.footer__cash::before {
  position: absolute;
  left: -40.5px;
  content: "";
  width: 1px;
  height: 18px;
  background: white;
}
.footer__cash::after {
  position: absolute;
  right: -42.5px;
  content: "";
  width: 1px;
  height: 18px;
  background: white;
}
.footer__cash-link {
  display: flex;
  align-items: center;
  color: rgb(195, 195, 195);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__cash-link:nth-child(1)::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/footer/cash/1.png");
}
.footer__cash-link:nth-child(2)::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/footer/cash/2.png");
}
.footer__cash-link:nth-child(3)::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/footer/cash/3.png");
}
.footer__contacts {
  display: flex;
  align-items: center;
  gap: 38px;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__contacts-link:nth-child(1)::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 22px;
  height: 20px;
  background: url("../images/footer/contacts/1.png");
}
.footer__contacts-link:nth-child(2)::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/footer/contacts/2.png");
}
